{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Map Page</title>
        <link rel="stylesheet" href="{% static 'mystyle.css' %}" />
        <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
        <link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="logo"></div>
                <h1 class="logo-text">MyBank</h1>
            </div>
            <div class="content">
                <div class="sidebar">
                    <div class="filters">
                        <form id="data" method="get">
                            <div class="filter-item">
                                <label for="property1">Есть свойство1</label>
                                <input type="checkbox" id="property1" name="property1" />
                            </div>
                            <div class="filter-item">
                                <label for="name">Наименование</label>
                                <input type="text" id="name" name="name" />
                            </div>
                        </form>
                        <button class="confirm-button" type="submit" form="data">Подтвердить</button>
                    </div>
                </div>
                <div id="map" class="map"></div>
                <script>
                    navigator.geolocation.getCurrentPosition(success, error, options);

                    var options = {
                        enableHighAccuracy: true,
                        timeout: 5000,
                        maximumAge: 0,
                    };

                    function success(pos) {
                        var crd = pos.coords;

                        initMap(crd.longitude, crd.latitude);

                        console.log("Ваше текущее местоположение:");
                        console.log(`Широта: ${crd.latitude}`);
                        console.log(`Долгота: ${crd.longitude}`);
                        console.log(`Плюс-минус ${crd.accuracy} метров.`);
                    }

                    function error(err) {
                        console.warn(`ERROR(${err.code}): ${err.message}`);

                        initMap(37.604744, 55.752587);
                    }

                    function initMap(longitude, latitude) {
                        var map = new maplibregl.Map({
                            container: "map",
                            style: "https://api.maptiler.com/maps/streets/style.json?key=RZkQYq6iEQDVqhOPitbq",
                            center: [longitude, latitude],
                            zoom: 10,
                        });
                        
                        {% for office in offices %}
                            initMarker({{office.longitude|stringformat:".6f"}}, {{office.latitude|stringformat:".6f"}}).addTo(map);
                        {% endfor %}
                    }

                    function initMarker(longitude, latitude) {
                        return new maplibregl.Marker()
                            .setLngLat([longitude, latitude])
                    }
                </script>
                <div class="object-list">
                    {% for office in offices %}
                        <div class="object-card">
                            <h3>{{office.salePointName}}</h3>
                            <p>Адрес: {{office.address}}</p>
                            <div class="business-attendance-view__plot-container">
                                <div class="business-attendance-view__bars">
                                    <div class="business-attendance-view__bar" data-time="09:00" style="height: 63%;"></div>
                                    <div class="business-attendance-view__bar" data-time="10:00" style="height: 84%;"></div>
                                    <div class="business-attendance-view__bar" data-time="11:00" style="height: 91%;"></div>
                                    <div class="business-attendance-view__bar" data-time="12:00" style="height: 96%;"></div>
                                    <div class="business-attendance-view__bar _active" data-time="13:00" style="height: 100%;"></div>
                                    <div class="business-attendance-view__bar" data-time="14:00" style="height: 96%;"></div>
                                    <div class="business-attendance-view__bar" data-time="15:00" style="height: 92%;"></div>
                                    <div class="business-attendance-view__bar" data-time="16:00" style="height: 87%;"></div>
                                    <div class="business-attendance-view__bar" data-time="17:00" style="height: 79%;"></div>
                                    <div class="business-attendance-view__bar" data-time="18:00" style="height: 66%;"></div>
                                    <div class="business-attendance-view__bar" data-time="19:00" style="height: 40%;"></div>
                                    <div class="business-attendance-view__bar" data-time="20:00" style="height: 36%;"></div>
                                    <div class="business-attendance-view__bar" data-time="21:00" style="height: 32%;"></div>
                                </div>
                              </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
