{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Map Page</title>
        <link rel="stylesheet" href="{% static 'mystyle.css' %}" />
        <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
        <link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="logo"></div>
                <h1 class="logo-text">MyBank</h1>
            </div>
            <div class="content">
                <div class="sidebar">
                    <div class="filters">
                        <form id="data" method="get">
                            <div class="filter-item">
                                <label for="nearby">Ближайшее</label>
                                <input type="radio" id="nearby" name="filter_type" value="nearby" />
                            </div>
                            <div class="filter-item">
                                <label for="loadless">Свободное</label>
                                <input type="radio" id="loadless" name="filter_type" value="loadless" />
                            </div>
                            <input type="hidden" id="user_lon" name="user_lon" />
                            <input type="hidden" id="user_lat" name="user_lat" />
                        </form>
                        <button class="confirm-button" type="submit" form="data">Найти</button>
                    </div>
                </div>
                <div id="map" class="map"></div>
                <script>
                    var map
                    navigator.geolocation.getCurrentPosition(success, error, options);

                    var options = {
                        enableHighAccuracy: true,
                        timeout: 5000,
                        maximumAge: 0,
                    };

                    function success(pos) {
                        var crd = pos.coords;

                        document.getElementById('user_lon').value = crd.longitude;
                        document.getElementById('user_lat').value = crd.latitude;

                        initMap(crd.longitude, crd.latitude);

                        console.log("Ваше текущее местоположение:");
                        console.log(`Широта: ${crd.latitude}`);
                        console.log(`Долгота: ${crd.longitude}`);
                        console.log(`Плюс-минус ${crd.accuracy} метров.`);
                    }

                    function error(err) {
                        console.warn(`ERROR(${err.code}): ${err.message}`);

                        document.getElementById('user_lon').value = 37.604744;
                        document.getElementById('user_lat').value = 55.752587;

                        initMap(37.604744, 55.752587);
                    }

                    function initMap(longitude, latitude) {
                        map = new maplibregl.Map({
                            container: "map",
                            style: "https://api.maptiler.com/maps/streets/style.json?key=RZkQYq6iEQDVqhOPitbq",
                            center: [longitude, latitude],
                            {% if is_search %}
                            zoom: 14,
                            {% else %}
                            zoom: 10,
                            {% endif %}
                        });

                        {% for office_load in offices_loads_list %}
                            initMarker({{office_load.office.longitude|stringformat:".6f"}}, {{office_load.office.latitude|stringformat:".6f"}}, "object{{office_load.num}}");
                        {% endfor %}

                        {% if is_search %}
                            selectObjectCard("object0");
                        {% endif %}
                    }

                    function initMarker(longitude, latitude, objectCardId) {
                        marker = new maplibregl.Marker()
                            .setLngLat([longitude, latitude])
                            .setPopup(new maplibregl.Popup()
                                .setHTML('<a class="confirm-button-small" href="https://yandex.ru/maps/?mode=routes&rtext=~' + latitude + '%2C' + longitude + '">Как добраться</a>')
                            );
                        marker.getElement().addEventListener('click', function () {selectObjectCard(objectCardId)});
                        marker.addTo(map);
                    }

                    function setCenter(longitude, latitude) {
                        console.log("CLICK");
                        map.setCenter([longitude, latitude])
                    }

                    function selectObjectCard(objectCardId) {
                        objectList = document.getElementById('objectList')
                        objectCard = document.getElementById(objectCardId)

                        var objectCards = document.querySelectorAll('.object-card');
                        objectCards.forEach(function(card) {
                            card.classList.remove('highlight');
                        });

                        objectCard.classList.add('highlight');

                        objectList.scrollTop = objectCard.offsetTop - 70;
                    }
                </script>
                <div id="objectList" class="object-list">
                    {% for office_load in offices_loads_list %}
                        <div id="object{{office_load.num}}" class="object-card" onclick="setCenter({{office_load.office.longitude|stringformat:".6f"}}, {{office_load.office.latitude|stringformat:".6f"}})">
                            <h3>{{office_load.office.salePointName}}</h3>
                            <p>Адрес: {{office_load.office.address}}</p>
                            <div class="business-attendance-view__plot-container">
                                <div class="business-attendance-view__bars">
                                    {% for load in office_load.load_list %}
                                        <div class="business-attendance-view__bar" data-time="{{load.hour}}" style="height: {{load.percentage}}%;"></div>
                                    {% endfor %}
                                </div>
                              </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
